mangband.cfg
mangband.drc
*.exe
mangband.map
*.tds
mangclient.ini
Roadmap.txt
/debug
lib/user/*.txt
lib/user/scores/scores.*
lib/user/scores/pwmangband*.log
lib/user/scores/*.txt
mk/buildsys.mk
/obj
src/mangband.*
src/mangclient.*
src/mangclient_gcu.*
src/mangclient_sdl.*
src/client/*.obj
src/common/*.obj
src/server/*.obj
src/win/*.obj
src/win/angband.RES
