*.elf
*.exe
*.tds
.dep
.deps
aclocal.m4
config.log
config.status
configure
mangband.cfg
mangband.drc
mangband.map
mangclient.ini
Roadmap.txt
/debug
doc/manual/*.aux
docs/manual.aux
docs/manual.html
docs/manual.ilg
docs/manual.ind
docs/manual.log
docs/manual.pdf
docs/manual.tex
docs/manual.toc
docs/_build
lib/user/*.txt
lib/user/scores/scores.*
lib/user/scores/pwmangband*.log
lib/user/scores/*.txt
mk/buildsys.mk
mk/extra.mk
mk/sinclude.mk
src/**/*.d
src/**/*.o
src/**/*.dep
src/*.d
src/*.dep
src/*.o
src/*.o.*
src/.deps
src/pwmangband
src/pwmangclient
src/autoconf.h
src/autoconf.h.in
/obj
src/mangband.*
src/mangclient.*
src/mangclient_gcu.*
src/mangclient_sdl.*
src/client/*.obj
src/common/*.obj
src/server/*.obj
src/win/*.obj
src/win/angband.RES
